/*-- scss:defaults --*/
// importing fonts
@import url('https://fonts.googleapis.com/css?family=Merriweather:wght@300&family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;800&display=swap');

// fonts
$font-family-sans-serif: 'Nunito', Tahoma, sans-serif !default;

// headings
$presentation-heading-font: 'Merriweather',  Tahoma, sans-serif  !default;
$presentation-heading-color: #000000 !default;
$presentation-h1-font-size: 1.5em !default;
$h2-font-size: 1.3em !default;
$h3-font-size: 1.15em !default;

section.slide h1 {
  margin-left: 5vw;
}

.theme-section {
  text-align: left;
  margin-top: 1.2em;
}

.theme-section-large {
  text-align: left;
  margin-top: 1.2em;
  margin-left: 5vw;
  font-size: 1.5em;
}


//code
$code-color: #883080 !default;
$font-family-monospace: 'Inconsolata', monospace  !default;

// general  
$body-bg: #FFFFFF;
$body-color: #000000;
$link-color: #883080;
$presentation-font-size-root: 35px;

/*-- scss:rules --*/
.reveal pre code {
  background-color: #FFFFFF;
  font-size: 0.8em;
  padding: 0.4em;
  margin: 0.2em;
}


.cell {
  margin: 1em; // This adds spacing of 1em around the code cells
}


.subtitle {
  color: #000000;
  font-size: $h2-font-size;
  font-family: $presentation-heading-font;
}

.author {
  color: $body-bg;
  font-size: $h2-font-size;
  font-family: $presentation-heading-font;
}

.footer {
  font-family: $presentation-heading-font;
}

.reveal .slide-number {
  font-family: $presentation-heading-font;
}

.reveal .panel-tabset [role=tab] {
    font-size: 0.8em;
}

.reveal .footer {
    color: #000000;
}


.center-x{
    text-align: center;
}

section.has-dark-background a, section.has-dark-background a:hover {
    color: #FFCD00;
}


.slide-logo {
  display: block !important;
  position: fixed !important;
  bottom: 0 !important;
  left: 10px !important;
  max-height: 15% !important;
  height: 100% !important;
  width: auto !important;
  color: $body-color !important;
}

.slide-number, .reveal.has-logo .slide-number {
  bottom: 10px !important;
  right: 10px !important;
  top: unset !important;
  color: #000000 !important;
}

.table-striped {
  font-size: smaller;
  > tbody > tr:nth-of-type(odd) > * {
    background-color: #f2f2f2d5;
  }
}
